@charset "utf-8";
/* CSS Document */

:root {
	--color-1: #FFFFFF;
	--color-2: #ef3832;
	--color-3: #151515;
}

body {
	padding: 32px;
	padding-left: 32px;
	padding-right: 32px;
	margin: 0px;
	background-color: var(--color-3);
	background: linear-gradient(180deg, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 33%, rgba(93,32,31,1) 77%, rgba(239,56,50,1) 100%);
}

#top {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

#top a {
	color: var(--color-1);
	text-decoration: none;
	font-family: "fira-sans" , "sans-serif";
	font-weight: 700;
	font-style: normal;
	font-size: 24pt;
	padding-left: 0px;
	padding-right: 0px;
}


#top a:hover{
	color: var(--color-2);
}

#tabs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	margin: 0px;
}

#tabs a {
	padding-left: 15px;
	padding-right: 15px;
}

.logo {
	display: flex;
	justify-content: flex-start;
}

#socials {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	margin: 0px;
}

#socials a {
	padding-left: 8px;
	padding-right: 8px;
}

p {
	font-family: "fira-sans" , "sans-serif";
	font-weight: 400;
	font-style: normal;
	font-size: 18pt;
	color: var(--color-1);
}

.title{
	font-family: "fira-sans" , "sans-serif";
	font-weight: 700;
	font-style: normal;
	font-size: 34pt;
	color: var(--color-1);
}

.mainTitle {
	padding-left: 76px;
	padding-right: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.content div{
	padding-left: 76px;
	padding-right: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.content img {
	border-radius: 2%;
	margin-left: 50px;
}

.disclaimer p{
	display: flex;
	justify-content: center;
	font-size: 12pt;
	color: var(--color-1);
	opacity: 80%;
}

#sorry p {
	color: var(--color-2);
}

@media (max-width: 1024px){
	#tabs {display: none;}
	#socials {display: none;}
	.title {display: none;}
	.content {display: none;}
	#sorry {display: flex;}
}

@media (min-width: 1025px){
	#sorry {display: none;}
}